<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= dataTitle %> </h1>
    Title: <%= post.title %> <p>
    Content: <%= post.content %> <p>
    Author: <%= post.author %> <p>
    <a href="/posts/postupdate/<%= post._id %> "> <button type="button" name="button">Update</button></a>
    <button type="button" name="button" onclick="delet()">Delete</button>
  </body>
  <script type="text/javascript">
    function delet(){
      var con = confirm('Are you sure?');
      if(con){
        location.href='/posts/postdelete/<%= post._id %>';
      }
    }
  </script>
</html>
